<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400753320983-kgtbat3p62ot96a97opih8dnrahneglo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400753320983-kgtbat3p62ot96a97opih8dnrahneglo</string>
	<key>API_KEY</key>
	<string>AIzaSyBq9hpvVydHC-Ryz61O7z3R1LgMepQ3crE</string>
	<key>GCM_SENDER_ID</key>
	<string>400753320983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.rever.FirebaseAdminMac</string>
	<key>PROJECT_ID</key>
	<string>admin-firebase-console</string>
	<key>STORAGE_BUCKET</key>
	<string>admin-firebase-console.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400753320983:ios:cd8316e03f33564f32e852</string>
	<key>DATABASE_URL</key>
	<string>https://admin-firebase-console.firebaseio.com</string>
</dict>
</plist>